{
    "globals": {
      "define": true,
      "require": true
    },
    "rules": {
        "no-console" : [0],
        "no-unused-vars" : [1],
        "indent": [
            0,
            "tab"
        ],
        "quotes": [
            0,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}
