<?xml version='1.0' encoding='utf-8'?>
<widget id="seabass.mikhael" version="0.2.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SeaBass</name>
    <description>
        Simple touch-friendly code editor for BQ M10 tablet
    </description>
    <author email="mikhael@milikhin.name" href="https://github.com/milikhin">
        Mikhael Milikhin
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
