@media (max-width: 600px) {
    .tablet-only {
        display: none;
    }
    /* will be inlined on build step */
    @import 'layout.css';
    @import 'tabs.css';
    @import 'settings.css';
}

@media (min-width: 600px) {
    .mobile-only {
        display: none!important;
    }
    .aside-hidden .aside {
        display: none !important;
    }
    .aside-hidden .main-window {
        margin-left: 0 !important;
        width: 100% !important;
    }
}
