/* overwrite settings.js */

.aside, .inspire-tree {
    width: 250px!important;
}

.main-window {
    margin-left: 0!important;
    width: 100%!important;
}


/* */

#main {
    position: relative;
}

.aside {
    float: none;
    background: #ededed;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    -webkit-transition: left 0.15s ease-in;
    -moz-transition: left 0.15s ease-in;
    -o-transition: left 0.15s ease-in;
    transition: left 0.15s ease-in;
    z-index: 50;
}

.aside:target {
    left: 0;
}


/*body.osk-mode {
    height: 54vh;
    max-height: calc(100vh - 185px);
    min-height: 0;
}*/

.tabs__welcome-note-wrapper {
    padding: 20px;
}

.tabs__welcome-note__table {
  margin: 0 auto;
}

.tabs__welcome-note__table td {
    text-align: right;
    display: block;
}

.tabs__welcome-note__table td {
    text-align: right;
}

.tabs__welcome-note__table td.tabs__welcome-note__table--support__title {
    text-align: left;
}
