.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    background: #efefef;
    border: solid 1px #787878;
    border-radius: 4px;
    padding: 2px 0;
}

.context-menu--active {
    display: block;
}

.context-menu__item:hover {
    background: #dedede;
}

.context-menu__item:last-child {
    border: none;
}

.context-menu ul li>a:after {
    display: none;
}