.CodeMirror {
    height: 100%;
    font-size: 1rem;
}

.CodeMirror-dialog input[type="text"] {
    font-size: 0.8rem;
    /*line-height: 1rem;*/
    padding: 5px 10px;
    background: none transparent;
    border-radius: 0;
    border: solid 1px #aaa;
    color: #eee;
}

.CodeMirror-dialog button {
    font-size: 0.8rem;
    padding: 5px 10px;
}

.CodeMirror-dialog {
  padding-top: 5px;
  padding-bottom: 5px;
}
