/* Basic layout:
  - Header
  - Content
    - About
    - Main
      - Aside
      - Editor
*/

html {
    height: 100%;
}

body, [data-role="mainview"] {
    height: 100%;
}

body.osk-mode {
    height: calc(100vh - 500px);
    min-height: 51vh;
    border-bottom: solid 1px #c9c9c9;
}

body.osk-mode::after {
    content: "Space reserved for OSK";
    display: block;
    box-sizing: border-box;
    transform: translateY(-50%);
    text-align: center;
    margin: auto;
    margin-top: 25vh;
}

.content {
    min-height: calc(100% - 52px);
    height: calc(100% - 52px);
    width: 100%;
    padding-top: 51px!important;
    clear: none;
}

.main-window {
    margin-left: 251px;
    width: calc(100% - 251px);
    height: 100%;
    position: relative;
}

.aside {
    padding: 0;
    width: 250px;
    float: left;
    position: relative;
    height: 100%;
    /* border-right: solid 1px #ccc; */
}

#main .tabs__welcome-note-wrapper {
    top: -100%;
}

.tabs__welcome-note__table {
    border: none;
    border-top: dashed 1px #747278;
    border-bottom: dashed 1px #747278;
    margin-top: 7px;
    margin-bottom: 7px;
}

.tabs__welcome-note__table td {
    border: none;
    padding: 5px 15px 5px 0;
    vertical-align: top;
    border-spacing: 0;
}
