.aside__header {
    position: relative;
    color: #747278;
}

.aside__header__buttons {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.aside__header__buttons__button {
    width: 2rem;
    border: none;
    background: none;
    text-align: center;
    height: 100%;
}

.aside__header__reload:active {
    background: #ccc;
}
