.aside__header {
    position: relative;
    color: #747278;
    height: 40px;
    border-bottom: solid 1px #ccc;
}

.aside__header__path {
    padding: 5px;
}

.aside__header__buttons {
    position: absolute;
    height: 100%;
    top: 0;
    right: 10px;
    padding: 0;
    margin: 0;
}

.aside__header__buttons__button {
    width: 2rem;
    border: none;
    background: none;
    text-align: center;
    height: 100%;
}
.aside__header__reload:active {
    background: #ccc;
}

.aside__header__path {
    text-decoration: none;
    color: inherit;
    margin-right: 100px;
}

input[type="text"].aside__header__path__input {
    width: 100%;
    background: rgba(0,0,0,0.05);
}
