.preloader {
  position: fixed;
  top: 39px;
  left: 0;
  /*background: rgba(0,0,0,0.25);*/
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 1000;
  height: 2px;
  /*border-bottom: solid 1px white;*/
  
}

.preloader-hidden {
  transition: opacity 0.25s, z-index 0.1s 0.5s;
  z-index: -1;
  opacity: 0;  
}

.preloader-disabled {
  display: none;
}

.preloader {
  /*height: 4px;*/
  width: 100%;
  /*position: relative;*/
  overflow: hidden;
  background-color: #ddd;
}
.preloader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
