[data-role="tabtitle"] {
    overflow: visible;
}


/* Tooltip container */

.tooltip {
    position: relative;
}


/* Tooltip text */

.tooltip__text {
    visibility: hidden;
    background-color: #202020;
    color: #dedede;
    text-align: center;
    border-radius: 3px;
    border: solid 1px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    padding: 0.3em 0.5em;
    line-height: 1.3em;
    font-size: 0.9rem;
    z-index: 50;
    opacity: 1;
    transition: opacity 0.25s ease;
    /*transition-property: opacity;*/
    /*transition-duration: 0.25s;*/
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltip__text {
    transition: opacity 0.25s ease 1.5s, z-index 0.1s ease 1.75s, top 0.1s ease 2s;
    z-index: -1;
    visibility: visible;
    opacity: 0;
    top: -10000px;
}

.tooltip:hover.tooltip-bottom .tooltip__text {
    top: 100%;
    right: 0;
}

.tooltip:hover.tooltip-bottom-right .tooltip__text {
    top: 100%;
    left: 0;
    text-align: left;
}

.tooltip-top .tooltip__text {
    top: 0;
    transform: translateY(-100%);
    right: 0;
}