/* Cordova fixes */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    position: absolute;
}

[data-role="list"]>header+ul li {
    padding: 0;
}

.dropbox-token-text {
    width: 200px;
    height: 50px;
}

.clipboard-btn.dropbox-token-btn {
    color: #333;
    cursor: pointer;
}

.clipboard-btn.dropbox-token-btn:hover {
    color: black;
}

[data-role="tab"] {
    overflow: auto;
}

.alertify {
    z-index: 1000;
}