.header {
    z-index: 100;
}

[data-role="tabtitle"], [data-role="back-btn"], [data-role="tabs-btn"], .header {
    height: 50px;
}

[data-role="tabtitle"], [data-role="back-btn"], [data-role="tabs-btn"] {
    line-height: 50px;
}

[data-role="content"] {
    border-top-width: 0;
}

[data-role="header"]:after {
    content: "";
    border-top: 0.25px solid #afafaf;
    height: 0;
    top: 50px;
}

[data-role="tabs"] {
    top: 51px;
}

.header__tab__button-pane {
    position: absolute;
    right: 10px;
    top: 0px;
}

.header__tab__button-pane__button {
    float: right;
    width: 35px;
    line-height: 50px;
    height: 50px;
    border: none;
    background: none;
    font-size: large;
    padding: 0;
}

.header__tab__button-pane__button .material-icons {
    line-height: inherit;
}

.header__tab__button-pane__button:active {
    background: #ccc;
}

.header__tab__button-pane__button:disabled {
    color: #ccc;
    background: none;
}


/* full with for tab header */

[data-role="back-btn"]:disabled+[data-role="tabtitle"], [data-role="back-btn"]+[data-role="tabtitle"], [data-role="tabs-btn"]+[data-role="tabtitle"], [data-role="tabs"]+[data-role="tabtitle"] {
    width: auto;
    float: none;
}

[data-role="header"]::after {
    height: 0;
}

[data-role="tabs-btn"] {
    z-index: 20;
}

.header__tab__action-container {
    float: right;
    position: relative;
    margin-right: 10px;
    line-height: 45px;
}

.header__tab__action-container__input {
    /*border: solid 1px #757373;*/
    /*color: #757373;*/
}

.header__tab__action-container__submit {
    position: absolute;
    right: 0;
    text-align: center;
    bottom: 5px;
    border: none;
    background: none;
    color: #757373;
}

.header__tab__action-container__input:focus~.header__tab__action-container__submit {
    color: black;
}
