.header {
    z-index: 100;
}

.header,
[data-role="back-btn"],
[data-role="tabs-btn"],
[data-role="tabtitle"] {
    height: 40px;
}

[data-role="back-btn"],
[data-role="tabs-btn"],
[data-role="tabtitle"] {
    line-height: 40px;
}

[data-role="content"] {
    border-top-width: 0;
}
[data-role="header"]:after {
    content: "";
    border-top: 0.25px solid #afafaf;
    height: 0;
    top: 40px;
}

[data-role="tabs"] {
    top: 41px;
}

.header__tab__button-pane {
    position: absolute;
    right: 10px;
    top: 0;
}

.header__tab__button-pane__button {
    float: right;
    width: 35px;
    line-height: 40px;
    height: 40px;
    border: none;
    font-size: large;

    background: transparent;
    padding: 0;
}
.header__tab__button-pane__button:active {
    background: #ccc;
}
.header__tab__button-pane__button:disabled {
    color: #ccc;
}

/* full with for tab header */
[data-role="back-btn"]+[data-role="tabtitle"],
[data-role="back-btn"]:disabled+[data-role="tabtitle"],
[data-role="tabs"]+[data-role="tabtitle"],
[data-role="tabs-btn"]+[data-role="tabtitle"] {
    width: auto;
    float: none;
}

[data-role="header"]::after {
    height: 0;
}

[data-role="tabs-btn"] {
    z-index: 20;
}

.header__tab__action-container {
    float: right;
    position: relative;
    margin-right: 10px;
    line-height: 33px;
}

input[type="text"].header__tab__action-container__input {
    /*border: solid 1px #757373;*/
    /*color: #757373;*/
    box-sizing: border-box;
    padding-right: 2rem;
    box-shadow: none;
    border-radius: 2px;
    background: white;
    border: solid 1px #ccc;
}

.header__tab__action-container__submit {
    position: absolute;
    right: 0;
    text-align: center;
    bottom: 1px;
    border: none;
    background: none;
    color: #757373;
    height: 24px;
    width: 35px;
}
.header__tab__action-container__input:focus~.header__tab__action-container__submit {
    color: black;
}
