.inspire-tree .title {
    overflow-x: auto;
    display: inline-block;
    min-width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.inspire-tree li>.title-wrap {
    display: inline-block;
    overflow: hidden;
    min-width: 100%;
}

.inspire-tree {
    overflow: auto;
    display: inline-block;
    position: absolute;
    top: 43px;
    bottom: 0;
    width: 250px;
    left: 0;
}

.inspire-tree>ol {
    overflow: auto;
    display: inline-block;
    min-width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}

.inspire-tree .wholerow {
    transform: translateY(-110%);
    height: 1.6rem;
    margin: 0;
}

.inspire-tree .title-wrap:hover+.wholerow {
    background-color: #ddd;
}

[data-uid="__up"] .icon-expand,
[data-uid^="__self"] .icon-expand {
    display: none;
}

.inspire-tree li .leaf:last-child {
    background-color: #efefef;
}

.itree-menu {
    z-index: 100;
}

.itree-menu a:hover {
    background-color: #efefef;
    color: inherit;
}

.itree-menu a {
    padding-top: 8px;
    padding-bottom: 8px;
}