label input[type="checkbox"][data-type="switch"]+span.toggle {
    margin-top: -0.75rem;
}

.settings__container__slider-wrapper {
    width: 50%!important;
    max-width: 400px;
    text-align: right;
}

input[type=range] {
    height: auto;
    width: calc(100% - 100px);
    position: relative;
    top: 3px;
}

.settings__container__slider-wrapper__from,
.settings__container__slider-wrapper__to {
    position: relative;
}

[data-role="list"] ul li p.disabled,
[data-role="list"] ul li p.disabled~.settings__container__slider-wrapper {
    color: #ccc;
}

.settings-note {
    padding: 10px 15px;
}

[data-role="list"] ul li>label.list__label__auto {
    width: auto;
}

.list__label__auto .dropbox-auth-link {
    line-height: 2.2rem;
    color: black;
}

.tree-helper {
    margin: 10px;
}

.tree-helper__actions,
.tree-helper__content {
    margin-bottom: 10px;
}

.tree-helper__actions {
    text-align: center;
}

.ft-dropbox-only,
.ft-localfs-only,
.tree-helper__empty {
  display: none;
}
